:root {
  --accent-color: #2196f3;
  --white-color: #fff;
  --white-100-color: #f5f4fa;
  --black-color: #000;
  --opacity-link-color: rgba(255, 255, 255, 0.6);
  --gray-color: #757575;
  --base-color: #212121;
  --additional-color: #2f303a;
  --button-hover: #188ce8;
  --header-border: #ececec;
  --project-border-color: #eeeeee;
  --icon-color: #afb1b8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

address {
  font-style: normal;
}

body {
  font-family: var(--primary-font-family);
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--base-color);
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

.page-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--base-color);
  text-align: center;
  margin-bottom: 50px;
}

.header {
  border-bottom: 1px solid var(--header-border);
}
.header__container {
  display: flex;
  align-items: center;
}
.header__navigation {
  margin-left: 93px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo__text--black {
  color: var(--black-color);
}
.logo__text--white {
  color: var(--white-color);
}

.navigation__list {
  display: flex;
}
.navigation__item {
  margin-right: 50px;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__link {
  color: var(--base-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding: 32px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.navigation__link::after {
  content: "";
  position: absolute;
  height: 4px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover {
  color: var(--accent-color);
}
.navigation__link--current {
  color: var(--accent-color);
}
.navigation__link--current::after {
  background-color: var(--accent-color);
}

.contact {
  flex-grow: 1;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
.contact__item {
  color: var(--gray-color);
}
.contact__item:not(:first-child) {
  margin-left: 50px;
}
.contact__link {
  fill: var(--gray-color);
  color: var(--gray-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: block;
  padding: 32px 0;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.contact__icon {
  margin-right: 10px;
}

.hero {
  background: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
}
.hero__text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  color: var(--white-color);
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
.hero__button {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  font-family: inherit;
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover {
  background-color: var(--button-hover);
}

.advantages {
  padding-bottom: 47px;
}
.advantages__list {
  display: flex;
  margin: 0 -15px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.advantages__item {
  width: 270px;
  margin: 0 15px;
}
.advantages-item__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--base-color);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}
.advantages-item__description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--gray-color);
  margin: 0;
  letter-spacing: 0.03em;
}
.advantages-item__content {
  height: 120px;
  background-color: var(--white-100-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.pages {
  padding-top: 47px;
}
.pages__images {
  list-style-type: none;
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
  padding: 0;
}
.pages__item {
  margin: 0 15px;
  position: relative;
}
.pages-item__box {
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.pages-item__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.dream {
  background-color: var(--white-100-color);
}
.dream__blocks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.dream__item {
  width: 270px;
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 0 15px;
}
.dream__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--base-color);
  margin: 0;
  margin-bottom: 10px;
}
.dream__profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--gray-color);
  margin: 0;
  margin-bottom: 16px;
}
.dream__content {
  padding: 30px 0;
}

.social-list {
  display: flex;
  justify-content: center;
  margin: 0 -5px;
}
.social-list__item {
  margin: 0 5px;
}
.social-list__item:last-child {
  margin-left: 0;
}
.social-list__item:first-child {
  margin-right: 0;
}
.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}
.social-list__link--bg {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
}

.footer {
  background-color: var(--additional-color);
  padding: 60px 0;
}
.footer__social {
  margin-left: 70px;
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
  margin-top: 20px;
}
.footer__link {
  color: var(--opacity-link-color);
  text-decoration: none;
  display: block;
  margin-top: 9px;
}
.footer__link:hover {
  color: var(--white-color);
}
.footer__title {
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}
.footer__mail {
  margin-left: 93px;
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.client__item {
  width: 170px;
  height: 92px;
  margin: 0 15px;
}
.client__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.form-mail__wrapper {
  display: flex;
}
.form-mail__frame {
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2787px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: var(--white-color);
}
.form-mail__frame::placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-mail__button {
  background-color: var(--accent-color);
  border: none;
  color: var(--white-color);
  fill: var(--white-color);
  padding: 10px 28px 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-mail__button:hover, .form-mail__button:focus {
  background-color: var(--button-hover);
}
.form-mail__icon {
  margin-left: 10px;
}

.modal {
  width: 528px;
  height: 581px;
  margin: 0 auto;
  background-color: var(--white-color);
  position: relative;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.modal__close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: var(--black-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close__close:hover, .modal__close__close:focus {
  fill: var(--accent-color);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translateY(300px) scale(0.9);
  opacity: 0;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--base-color);
  margin: 0;
  margin-bottom: 12px;
}
.form__field {
  margin-bottom: 10px;
}
.form__btn {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 50px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__btn:hover, .form__btn:focus {
  background-color: var(--button-hover);
}

.form-field {
  display: block;
}
.form-field__label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--gray-color);
  margin-bottom: 4px;
}
.form-field__wrapper {
  position: relative;
  display: block;
}
.form-field__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__input::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field__input--textarea {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  outline: none;
}
.form-field__input:focus {
  border-color: var(--accent-color);
}
.form-field__input:focus + .form-field__icon {
  fill: var(--accent-color);
}
.form-field__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  fill: var(--base-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
  display: flex;
  justify-content: center;
}
.checkbox__label {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--gray-color);
  position: relative;
  padding-left: 24px;
  user-select: none;
}
.checkbox__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 15px;
  cursor: pointer;
  display: block;
  border: 2px solid var(--base-color);
  border-radius: 2px;
  box-sizing: border-box;
  outline: var(--accent-color);
}
.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox__input:checked + .checkbox__label::before {
  background-image: url(../images/icon-check.svg);
  border: none;
}
.checkbox__input:focus + .checkbox__label::before {
  border-color: var(--accent-color);
}
.checkbox__link {
  color: var(--accent-color);
  text-decoration-line: underline;
}

.tabs {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.tabs__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  color: var(--base-color);
  font-family: inherit;
  background-color: var(--white-100-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  margin: 0 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tabs__name--active, .tabs__name:hover, .tabs__name:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.tabs__name __item:first-child, .tabs__name __item:last-child {
  margin: 0;
}

.project {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.project__item {
  width: 370px;
  margin: 0 15px;
  box-sizing: border-box;
}
.project__item:nth-last-child(n+4) {
  margin-bottom: 30px;
}
.project__item:nth-child(3n+1) {
  margin-left: 0;
}
.project__item:nth-child(3n) {
  margin-right: 0;
}
.project__link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover, .project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project__link:hover .project__text {
  bottom: 0;
}
.project__text {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin: 0;
  padding: 63px 24px;
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  z-index: 1;
  transition: bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__text:after {
  position: absolute;
  background-color: var(--accent-color);
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}
.project__box {
  position: relative;
  overflow: hidden;
}
.project__content {
  padding: 20px 23px;
  border: 1px solid var(--project-border-color);
  border-top: none;
}
.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--base-color);
  margin: 0;
  margin-bottom: 4px;
}
.project__description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--gray-color);
  margin: 0;
}/*# sourceMappingURL=main.css.map */