.modal {
  width: 528px;
  height: 581px;
  margin: 0 auto;
  background-color: var(--white-color);
  position: relative;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  &__close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--white-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    fill: var(--black-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &__close:hover,
    &__close:focus {
      fill: var(--accent-color);
    }
  }
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translateY(300px) scale(0.9);
  opacity: 0;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.form {
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--base-color);
    margin: 0;
    margin-bottom: 12px;
  }
  &__field {
    margin-bottom: 10px;
  }
  &__btn {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 50px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
      background-color: var(--button-hover);
    }    
  }
}
.form-field {
  display: block;
  &__label {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--gray-color);
    margin-bottom: 4px;
  }
  &__wrapper {
    position: relative;
    display: block;
  }
  &__input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &::placeholder {
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
    &--textarea {
      height: 120px;
      resize: none;
      padding: 12px 16px;
      outline: none;
    }
    &:focus {
      border-color: var(--accent-color);
    }
  }
  &__input:focus + &__icon {
    fill: var(--accent-color);
  }
  &__icon {
    position: absolute;
    top: 11px;
    left: 12px;
    fill: var(--base-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.checkbox {
  display: flex;
  justify-content: center;
  &__label {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--gray-color);
    position: relative;
    padding-left: 24px;
    user-select: none;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 3px;
      width: 16px;
      height: 15px;
      cursor: pointer;
      display: block;
      border: 2px solid var(--base-color);
      border-radius: 2px;
      box-sizing: border-box;
      outline: var(--accent-color);
    }
  }
  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  &__input:checked + &__label::before {
    background-image: url(../images/icon-check.svg);
    border: none;
  }
  &__input:focus + &__label::before {
    border-color: var(--accent-color);
  }
  &__link {
    color: var(--accent-color);
    text-decoration-line: underline;
  }
}
